

/* ///////////////////////////////////////////////// */
/* ////////// GRONZ-STUDIO Responsive CSS ////////// */
/* ///////////////////////////////////////////////// */


@media (min-width: 991px) {
  #call-to-action .cta-btn-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

@media (min-width: 992px) {
  #intro .intro-info {
    padding-top: 80px;
  }

  #testimonials .testimonial-item p {
    width: 80%;
  }
}

@media (max-width: 991px) {
  #topbar {
    display: none;
  }

  #header {
    height: 70px;
    padding: 15px 0;
  }

  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }

  #why-us .why-us-content {
    padding-top: 30px;
  }

  #pricing {
    padding-bottom: 30px;
  }

  #pricing .card {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }

  #faq #faq-list a {
    font-size: 18px;
  }

  #faq #faq-list i {
    top: 13px;
  }
}

@media (max-width: 767px) {
  #intro {
    height: auto;
    padding: 80px 0 60px 0;
  }

  #intro .container {
    height: auto !important;
  }

  #intro .intro-img {
    width: 80%;
  }

  #intro .intro-info {
    text-align: center;
    padding-top: 40px;
  }

  #intro .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .section-header p {
    width: 100%;
  }

  #testimonials .testimonial-item {
    text-align: center;
  }

  #testimonials .testimonial-item .testimonial-img {
    float: none;
    margin: auto;
  }

  #testimonials .testimonial-item h3,
  #testimonials .testimonial-item h4,
  #testimonials .testimonial-item p {
    margin-left: 0;
  }
}

@media (max-width: 574px) {
  #footer .footer-top .social-links a {
    margin-bottom: 25px;
  }
}
